@*This displays text boxes to enter Name, Address, Phone, and Email for a new Customer.*@
@using Models;
@{
}
@model WebInterface.Models.CustomerVM
@*{List<Order> orders = ViewData["Orders"] as List<Order>;} *@

<h1 class="text-center">Edit Customer</h1>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="name" class="form-control" asp-for="Name" asp-required="true" placeholder="Samantha Tokatsu">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="address" class="form-control" asp-for="Address" asp-required="true" placeholder="101 example ave. 11000">
            <label asp-for="Address">Address</label>
            <span asp-validation-for="Address"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="phone" class="form-control" asp-for="Phone" asp-required="true" placeholder="101-111-1101">
            <label asp-for="Phone">Phone number</label>
            <span asp-validation-for="Phone"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" asp-for="Email" asp-required="true" placeholder="name@email.com">
            <label asp-for="Email">Email address</label>
            <span asp-validation-for="Email"></span>
        </div>

    @* @foreach(var order in customer.Orders){
            <tr class="table-active">
                <td>@order.Id</td>
                <td>@order.Total</td>
                <td><form method="POST"> @Html.ActionLink("", "Delete", new{id=order.Id}, new{@class="btn btn-outline-danger btn-lg"})   </form></td>
                <td><form method="GET">  @Html.ActionLink("", "Edit", new{id=order.Id}, new{@class="btn btn-outline-info btn-lg"})       </form></td>
            @foreach (var item in order.LineItems){
                <tr class="table-active">
                    <td>@item.Id</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td><form method="POST"> @Html.ActionLink("", "Delete", new{id=item.Id}, new{@class="btn btn-outline-danger btn-lg"})   </form></td>
                    <td><form method="GET">  @Html.ActionLink("", "Edit", new{id=item.Id}, new{@class="btn btn-outline-info btn-lg"})       </form></td>
                </tr>
            }
            </tr> *@
        <div class="d-grid gap-2">
            <button method = "POST" type="submit" class="btn btn-lg btn-primary" value="Edit">Submit Changes</button>
        </div>
    </div>
</form>

