@using System.Collections
@using Models
@model ArrayList   
@*Maybe insert Orders.Count and forloop through so the ArrayList doesn't contain an ArrayList'*@
@{Customer customer = new Customer(); customer.FromArrayList(Model);} @*//rename and distribute a Select view, restore the customer edit *@

<h1 class="text-center">Viewing the Whole Customer</h1>
<table border="2", class="table table-hover">
<tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th> 
    <th scope="col">Spent</th>
    <th scope="col"> </th> 
    <th scope="col"> </th>   
</tr>
<div class="text-center">
    <form class="text-center" method="GET">  @Html.ActionLink("Edit Customer", "Edit",           new{id=customer.Id}, new{@class="btn btn-success btn-lg"})      </form>
</div>
<tr class="table-light">
    <td>@customer.Id</td>
    <td>@customer.Name</td>
    <td>@customer.Address</td>
    <td>@customer.Phone</td>
    <td>@customer.Email</td>
    <td>@customer.TotalSpent</td>
</tr>
</table>
<div class="text-center">  
    <form class="text-center" method="GET">   @Html.ActionLink("Add Order", "AddOrder",  new{id=customer.Id}, new{@class="btn btn-warning btn-lg"})      </form>
</div>
<table border="2", class="table table-hover">
    @if(customer.Orders.Count > 0){
    <tr>
        <th scope="col">Active?</th>
        <th scope="col">Id</th>
        <th scope="col">Total</th>
        <th scope="col"> </th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
    </tr>


    @foreach(var order in customer.Orders.OrderByDescending(o => o.Id).ToList()){
    <tr class="table-light">
        @if(@order.Active == true){
        <td>Active</td>
        <td>@order.Id</td>
        <td>@order.Total</td>
        <td></td>
        @if(order.LineItems.Count == 0){<td><form method="POST"> @Html.ActionLink("", "Delete",   "Order", new{id=order.Id}, new{@class="btn btn-outline-danger btn-lg"})      </form></td>}else{<td></td>}
        <td><form method="GET">  @Html.ActionLink("", "Select",   "Order", new{id=order.Id}, new{@class="btn btn-outline-info btn-lg"})        </form></td>
        @if(order.LineItems.Count > 0){
        @foreach (var item in order.LineItems){
        <tr class="table-secondary">
            <td></td>
            <td>@item.Id</td>
            <td>@item.Total</td>
            <td>@item.Quantity @item.Product.Name</td>
            <td><form method="POST"> @Html.ActionLink("", "Delete", "LineItem", new{id=item.Id}, new{@class="btn btn-outline-danger btn-lg"})       </form></td>
            <td></td>
        </tr>
        }}
    }else{<td>Inactive</td><td></td><td></td><td></td><td></td><td></td>}</tr>
    }}
</table>
<div class="d-grid gap-2">

    

    <form class="text-center" method="POST">  @Html.ActionLink("Purchase",  "Purchase",  new{id=customer.Id}, new{@class="btn btn-secondary btn-lg"})    </form>

    <form class="text-center" method="GET">   @Html.ActionLink("Done Viewing", "Index",  new{id=0},           new{@class="btn btn-primary btn-lg"})      </form>
</div>
