@{
}
@model IEnumerable<WebInterface.Models.ProductVM>

<h1 class="text-center"> List of Products</h1>
<table border="2", class="table table-hover">
<tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Category</th>
    <th scope="col">Price</th>
    <th scope="col">Delete</th>
    <th scope="col">Select</th>
</tr>
    @foreach(var product in Model){
        <tr class="table-active">
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Category</td>
            <td>@product.Price</td>
            <td><form method="POST" action="/Store/Delete/" ><button type="submit" class="btn btn-outline-danger btn-lg"></button></form></td>
            <td><form method="POST" action="/Store/Select/" ><button type="submit" class="btn btn-outline-info btn-lg"></button></form></td>
        </tr>
    }
</table>
<form class="text-center" method="GET" action="/Product/Create"><button type="submit" class="btn btn-success btn-lg">Add Product</button></form>
