@{
}
@model IEnumerable<WebInterface.Models.StoreVM>

<h1 class="text-center"> List of Stores</h1>
<table border="2", class="table table-hover">
<tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th> 
    <th scope="col">Expenses</th>
    <th scope="col">Revenue</th>
    <th scope="col">Profit</th>
    <th scope="col">Delete</th> 
    <th scope="col">Edit</th>   
</tr>
    @foreach(var store in Model){
        <tr class="table-active">
            <td>@store.Id</td>
            <td>@store.Name</td>
            <td>@store.Address</td>
            <td>@store.Expenses</td>
            <td>@store.Revenue</td>
            <td>@store.Profit</td>
            <td><form method="POST"> @Html.ActionLink("", "Delete", new{id=store.Id}, new{@class="btn btn-outline-danger btn-lg"})  </form></td>
            <td><form method="GET"> @Html.ActionLink("", "Edit", new{id=store.Id}, new{@class="btn btn-outline-info btn-lg"})       </form></td>
        </tr>
    }
</table>
<form class="text-center" method="GET" action="/Store/Create"><button type="submit" class="btn btn-success btn-lg">Add Store</button></form>
